
#output {
	background:white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding: 10px;
	float: none;
	text-align: left;
}

body
{
	background: red;
background-image: url("space.jpg");
}

	.login_div1 
	{
        width:65%;
        margin-right: 16px;
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
        box-sizing: border-box;
}
	
    .login_div2
    {
        width:65%;
        margin-right: 16px;
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
        margin-right:16px;
        box-sizing: border-box;
}
    

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
